<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Product</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/container.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Main Page</a></li>
                <li><a href="add-users">Form Page</a></li>
                <li><a href="error"> Idk this page</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Welcome to My Page</h2>
            <div class="container-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reiciendis, ea
                cupiditate voluptate
                impedit rerum obcaecati tempore laboriosam consequuntur ab veniam perferendis. Quas, accusantium enim.
            </div>

            <img src="/images/terminal.jpg" alt="terminal image">

        </div>
    </main>
</body>

</html>