<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Product</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/form.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Main Page</a></li>
                <li><a href="add-users">Form Page</a></li>
                <li><a href="error"> Idk this page</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-container">

            <h2>Please Fill in The Form</h2>
            <form method="POST" action="/users">
                <input type="text" name="my-input-field" />
                <button type="submit">add me plz</button>
            </form>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet doloremque aperiam modi excepturi culpa
                ipsa.</p>
        </div>
    </main>
</body>

</html>