<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form HTML</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Form</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul>
            <li>First One</li>
            <li>Second One</li>
            <li>Third One</li>
            <li>Fourth One </li>
            <li>Fifth One</li>
        </ul>
    </main>
</body>

</html>