

    <main>
                {{#if hasProducts}}
                        <div class="grid">
                            {{#each prods}}
                                    <article class="card product-item">
                                        <header class="card__header">
                                            <h1 class="product__title">
                                                {{this.title}}
                                            </h1>
                                        </header>
                                        <div class="card__image">
                                            <img src = "https://flipcause-assets.s3.amazonaws.com/summernote_images/1650859173-278657186_674451733850899_4053099720447312349_n.jpg", alt="Pug" />
                                        </div>
                                        <div class="card__content">
                                            <h2 class="product__price">$19.99</h2>
                                            <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, beatae enim et sit ab maxime.</p>
                                        </div>
                                        <div class="card__actions">
                                            <button class="btn">
                                                Add to Cart
                                            </button>
                                        </div>
                                    </article>
                                {{/each}}

                        </div>
                        {{else}}
                        <h2>No Products Found</h2>
                        {{/if}}


    </main>
