doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/404.css")
        title #{title}
    body 
        header 
            nav 
                ul 
                    li 
                        a(href="/") Go Home 
        
        main 
            h2.errorTag  There is no gold in this river :))
            .imageContainer 
                img(src="https://movingwriters.files.wordpress.com/2016/02/screen-shot-2016-02-14-at-3-15-13-am.png", alt="Aha moment")